<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    

    <h3>Write New Chat</h3>
    <br /><br />
    <form method="post" action="/chats">
        <input type="text" placeholder="Who are you" name="from"><br /><br />
        <textarea name="msg" placeholder="Write your msg here"></textarea><br /><br />
        <input type="text" name="to" placeholder="Add Receiver"><br /><br />
        <button class="btn">Create Chat</button>
    </form>
</body>
</html>